:root {
    --blanco: #ffffff;
    --negro: #000000;
    --azulMint: #04acec;
    --gris: #c4c4c4;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

/** Globales **/

a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    margin: 0;
    margin-bottom: 1rem;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.6rem;
}
img {
    max-width: 100%;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.container {
    /*border: 1px solid var(--negro);*/
    margin: auto;
    width: 95%;
    max-width: 120rem;
}

/** Header **/

.header {
    background-color: var(--gris);
    justify-content: space-between;
    padding-top: 2rem;
    margin: 0;
}
@media (min-width: 768px) {
    .header__logo {
        width: 12rem;
        padding: 1rem;
    }
    .header {
        padding: 0;
        display: flex;
    }
}
.navigation {
    display: flex;
    flex-direction: column;
}
.navigation__elem {
    color: var(--blanco);
    font-size: 2rem;
    width: 100%;
}
.navigation__elem:hover {
    background-color: var(--azulMint);
    color: var(--negro);
    font-size: 2rem;
    width: 100%;
}
@media (min-width: 768px) {
    .navigation {
        flex-direction: row;
        align-items: center;
        min-width: max(64rem, 50%);
    }
    .navigation__elem {
        height: 100%;
        padding-top: 2rem;
    }
}

/** Titles **/
.title {
    margin:1rem;
}


/** Quotes - Shipper and Consignee **/

.route-information{
    display: flex;
    flex-direction: column;
}
.location {
    background-color: var(--gris);
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
}
@media (min-width: 480px) {
    .location{
        width: min(90%, 64rem);
    }
    .route-information {
        align-items: center;
    }
}
@media (min-width: 768px) {
    .location {
        width: 50%;
    }
    .route-information{
        flex-direction: row;
        gap: 2rem;
    }
}

.location__display{
    display: flex;
    flex-direction: column;
}
.location__dispay-element{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    order: 2;
}
.location__display-element--obligatorio{
    background-color: var(--azulMint);
    padding-bottom: 1rem;
}
.location__display-element--last {
    order: 1;
}
.location__input{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.location__input--obligatorio{
    
}
.location__label{
    display: block;
}
.location__campo{
    display: block;
    width: 100%;
}
@media (min-width: 480px) {
    .location__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}