:root {
    --blanco: #ffffff;
    --negro: #000000;
    --azulMint: #04acec;
    --gris: #c4c4c4;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}

/** Globales **/

a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header **/

.header {
    background-color: var(--gris);
    justify-content: space-between;
    padding-top: 2rem;
    margin: 0;
}
@media (min-width: 768px) {
    .header__logo {
        width: 12rem;
        padding: 1rem;
    }
    .header {
        padding: 0;
        display: flex;
    }
}
.navigation {
    display: flex;
    flex-direction: column;
}
.navigation__elem {
    color: var(--blanco);
    font-size: 2rem;
    width: 100%;
}
.navigation__elem:hover {
    background-color: var(--azulMint);
    color: var(--negro);
    font-size: 2rem;
    width: 100%;
}
@media (min-width: 768px) {
    .navigation {
        flex-direction: row;
        align-items: center;
        min-width: max(64rem, 50%);
    }
    .navigation__elem {
        height: 100%;
        padding-top: 2rem;
    }
}